body {
  background-color: white;
}
 #carousel {
  margin: 50px auto;
  text-align: center;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border: 1px solid black;
  position: relative;
} 
ul {
  width: 3200px;
  margin: 0;
  padding: 0;
}
li {
  width: 640px;
  list-style: none;
  float: left;
} 
h1 {
  text-align: center;
  color: grey;
}
#left {
  float: left;
  width: 80px;
  position: absolute;
  top: 50%;
  left: 10px;
}
#right {
  float: right;
  width: 80px;
  position: absolute;
  top: 50%;
  right: 10px;
}
li {
  width: 400px;
  height: 300px;
}